
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(255, 0, 0, 0.644);
    color: black;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-flex;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: black;
    color:red;
}

main {
    padding: 20px;
    gap: 30px;
    display: inline-flex;
}

h2 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
main img a{
    width: 10rem;
    height:15rem;
    text-align: center;
    gap: 30px;
}
h3 b{
    font-weight: bold;
}

main .linkavel button{
    cursor: pointer;
}

main .linkavel button:hover{
    background-color: red;
}